<div class="container__small-card">
  <div class="container__small-card-content">
      <div class="small-card__photo">
        <img
          src="https://s2-g1.glbimg.com/uQx7uo5VpE58jI2_i3rI6Ax1OYs=/0x0:1700x1065/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2017/R/R/ZmHiLxSpSAgdWvWA5Vsw/thor-arte.jpg"
          alt=""
        />
      </div>
    
      <div class="small-card__title">
        <h1><a href="#">titulo do small-card</a></h1>
      </div>
  </div>
  <div class="container__small-card__separator">
    <hr>
  </div>
</div>

