<div class="containner__big-card">
  <div class="big-card__photo">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      height="250px"
      alt=""
    />
  </div>
  
  <div class="big-card__title">
    <h1><a href="#">titulo do big-card</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas
      pulvinar nulla condimentum euismod. Proin consequat est metus, vel
      hendrerit sem laoreet cursus. Nunc non arcu vehicula, placerat mauris id,
      placerat dolor. Suspendisse sed libero ullamcorper, elementum eros nec,
      faucibus tortor. Donec pulvinar enim ut nisl maximus dignissim.
    </p>
  </div>
</div>
